{% extends "base.html" %}

{% block css %}
<link href="{{ url_for('static', filename='plugins/bootstrap-table/bootstrap-table.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='plugins/bootstrap-fileinput/css/fileinput.min.css') }}" media="all"
    rel="stylesheet" type="text/css" />

<style>
    .select,
    #locale {
        width: 100%;
    }

    .like {
        margin-right: 10px;
    }
</style>
{% endblock %}

{% block title %}客户列表{% endblock %}
{% block navbar %}
<section class="content-header">
    <h1>用户列表</h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> 当前位置</li>
        <li class="active">用户管理</li>
        <li class="active">用户列表</li>
    </ol>
</section>
{% endblock %}

{% block content %}
<div class="box box-primary">
    <div class="box-header with-border">
        {% include 'message.html' %}
    </div>

    <div class="box-body">
        <div id="toolbar">
            <button id="btnCreateUser" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-upload"></i> 创建
            </button>
        </div>

        <table id="table" data-toolbar="#toolbar" data-search="true" data-show-refresh="true" data-show-toggle="true"
            data-show-fullscreen="true" data-show-columns="true" data-show-columns-toggle-all="true"
            data-detail-view="false" data-show-export="true" data-click-to-select="true"
            data-detail-formatter="detailFormatter" data-minimum-count-columns="2" data-pagination="true"
            data-id-field="id" data-page-list="[10, 25, 50, 100, all]" data-show-footer="false"
            data-side-pagination="server" data-url="/user" data-response-handler="responseHandler">
        </table>
    </div>

    <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">用户编辑</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="firstname" class="col-sm-2 control-label">账号</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="firstname" placeholder="请输入名字">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label">密码</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="password" placeholder="请输入密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fullname" class="col-sm-2 control-label">姓名</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="fullname" placeholder="请输入姓名">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">邮箱</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="email" placeholder="请输入邮箱">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="col-sm-2 control-label">电话</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="phone" placeholder="请输入电话">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="col-sm-2 control-label">电话</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="phone" placeholder="请输入电话">
                            </div>
                        </div>

                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnCreate">创建</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='plugins/bootstrap-table/bootstrap-table.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-table/bootstrap-table-locale-all.min.js') }}"></script>
<script
    src="{{ url_for('static', filename='plugins/bootstrap-table/extensions/export/bootstrap-table-export.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/tableExport/tableExport.min.js') }}"></script>

<script src="{{ url_for('static', filename='plugins/jquery-fileupload/js/vendor/jquery.ui.widget.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jquery-fileupload/js/jquery.iframe-transport.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jquery-fileupload/js/jquery.fileupload.js') }}"></script>
<script>
    function initPage() {
        slide_value = $(".slider").val() == "" ? 50 : parseInt($(".slider").val());
        $(".slider").slider({
            id: "blue",
            max: 100,
            value: slide_value
        });
    }


    //初始化表格
    var $table = $('#table')
    var $remove = $('#remove')
    var selections = []

    function getIdSelections() {
        return $.map($table.bootstrapTable('getSelections'), function (row) {
            return row.id
        })
    }

    function responseHandler(res) {
        $.each(res.rows, function (i, row) {
            row.state = $.inArray(row.id, selections) !== -1
        })
        return res
    }

    function detailFormatter(index, row) {
        var html = []
        $.each(row, function (key, value) {
            html.push('<p><b>' + key + ':</b> ' + value + '</p>')
        })
        return html.join('')
    }

    function addFunctionButton(value, row, index) {
        return [
            '<button id="edit" type="button" class="btn btn-info">编辑</button>',
            '<button id="delete" type="button" class="btn btn-danger">删除</button>',
        ].join('');
    }

    window.onRowButtonClick = {
        'click #edit': function (e, value, row, index) {
            alert('edit ' + row.id);

        }, 'click #delete': function (e, value, row, index) {
            alert('delete ' + row.id);

        }
    };

    function initTable(columns) {

        columns.push(
            {
                "field": 'operate',
                "title": '操作',
                "events": onRowButtonClick,//给按钮注册事件
                "formatter": addFunctionButton //表格中增加按钮  
            }
        );

        $table.bootstrapTable('destroy').bootstrapTable({
            height: 550,
            locale: 'zh-CN',
            columns: columns
        })
        $table.on('check.bs.table uncheck.bs.table ' +
            'check-all.bs.table uncheck-all.bs.table',
            function () {
                $remove.prop('disabled', !$table.bootstrapTable('getSelections').length)

                // save your data, here just save the current page
                selections = getIdSelections()
                // push or splice the selections if you want to save all data selections
            })
        $table.on('all.bs.table', function (e, name, args) {
            //console.log(name, args)
        })

    }


    $(function () {
        $.get("./user_mapping", function (result) {
            initTable(result.mapping);
        });
    })

</script>
{% endblock %}